*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Poppins','sans-serif';
    scroll-behavior: smooth;
}

:root {
    --main-color:rgb(36, 130, 157);
    --text-color-primary:white;
    --text-color-secondary:rgb(219, 238, 244);

}

html{
    background-color: rgb(2, 18, 22);
    color: var(--text-color-secondary);
    height:100vh;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color-secondary);
}

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }*/


/***********************************************
**************Header*****************/
.header {
    background-color:rgb(7, 40, 48);
    box-shadow: 1px 1px 4px 0 rgba(7,40,48,0.2);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    overflow: hidden;
    background-color:rgb(12, 61, 73);
}

.header ul a {
    display: block;
    padding: 20px;
    border-right: 1px solid  rgb(2, 18, 22);
}

.header ul a:hover {
    background-color: var(--main-color);
}

.header .logo {
    float: left;
    display: block;
    font-size: 1.5em;
    padding: 10px 10px;
    margin-top: 5px;
}

.header .menu {
    clear: both; 
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float:right;
    cursor: pointer;

}

.header .menu-icon .nav-icon {
    background: var(--main-color);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
    
}

.header .menu-icon .nav-icon::before{
    background: var(--main-color);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top:6px;
}
.header .menu-icon .nav-icon::after{
    background: var(--main-color);
    content:'';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top:-6px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top:0;
}

.logo {
    justify-content: center;
    align-items: center;
    color: var(--text-color-secondary);
    padding:5px;
    font-size: 1.5rem;
    margin-left: 20px;
    transition: 0.3s;
    
}
.logo-span {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: 2s;
}
.logo:hover {
    border: 1px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);

}
.logo-span:hover {
    color: var(--text-color-secondary);
    
}


/********************************************/
/*************Main oldal********************/
/*****************************************/
main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-left: 50px;
}
.fooldal {
    position:relative;
    top: 10%;
    display: block;
    align-items: center;
    color: var(--text-color-secondary);
    padding: auto;
}
.myself {
    position: relative;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    min-width:600px;
    padding: 30px;
    margin: 30px 30px 0px 30px;
}
.bemutatkozas {
    display:block;
    justify-content: center;
    min-width: 450px;
    height: 60%;
    text-align: center;
    margin:50px;
    padding:50px;
    position: static;
}
.bemutatkozas p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 5px;
    color: var(--main-color);
}
.bemutatkozas h1 {
    font-size: 2.7em;
}
.bemutatkozas-span {
    font-size: 1.15em;
    color: var(--main-color);
}
.bemutatkozas h2 {
    font-size: 1.1em;
    font-weight: 400;
}
.valaki-img {
    padding: 1px;
    display: flex;
    margin: 50px;
    width: 400px;
    height: 550px;
    border-radius: 50%;
    align-items: center;
}
.valaki-img img {
    border-radius: 50%;
    width: 400px;
    height: 550px;
}     
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    margin: 20px;
    padding: 10px; 
}
/*.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
button {
    margin-left: 20px;
    padding: 0 30px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color:var(--main-color); 
    color: var(--text-color-secondary);
    text-transform: uppercase;
    letter-spacing: 1px;

}*/

/******************************************* 
 ha nem válik be akkor ezt kell visszaállítani
***********************************************/
/*.knowledge {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    padding: 30px;
    margin: 30px 30px 0px 30px;
}
.knowledge-container{
    display: block;
    justify-content: center;
    min-width: 450px;
    height: 60%;
    position: static;
}
.knowledge-container h2 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--main-color);
}
.knowledge-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    min-width: 450px;
}
.profesional-container{
    display: block;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    padding: 30px;
    margin: 30px 30px 0px 30px;
}
.piktogramok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.piktogramok ul{
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
}

.piktogramok li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}
*********************************************************/
.knowledge{
    position: relative;
    display: block;
    align-items: center;
    color: var(--text-color-secondary);
    padding: auto;
}
.knowledge-myself {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    padding: 30px;
    margin: 30px 30px 0px 30px;
}
.knowledge-container{
    display: block;
    justify-content: center;
    min-width: 450px;
    height: 60%;
    margin: 50px;
    padding: 50px;
    position: static;
}
.knowledge-container h2{
    font-size: 2rem;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 30px;
}
.knowledge-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    margin-top: 20px;
}

.piktogramok{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px 30px 0px 30px;
}    

.profesional-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.profesional-container li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.profesional-container li img{
    width: 250px;
    height: 250px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 18%;
}