*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Poppins','sans-serif';
    scroll-behavior: smooth;
}

:root {
    --main-color:rgb(36, 130, 157);
    --text-color-primary:white;
    --text-color-secondary:rgb(219, 238, 244);

}

html{
    background-color: rgb(2, 18, 22);
    color: var(--text-color-secondary);
    height:100vh;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color-secondary);
}

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }*/


/***********************************************
**************Header*****************/

/*header {
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: rgb(7, 40, 48);

}*/
.logo {
    justify-content: center;
    align-items: center;
    color: var(--text-color-secondary);
    padding:5px;
    font-size: 1.5rem;
    margin-left: 20px;
    transition: 0.3s;
    
}
.logo-span {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: 2s;
}
.logo:hover {
    border: 1px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);

}
.logo-span:hover {
    color: var(--text-color-secondary);
    
}

/*
.navbar-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px;
    
}
.navbar-item {
    padding:30px;
    text-transform: uppercase;
    transition: 0.3s;
}
.navbar-item:hover{
    color: var(--main-color);
    background-color: var(--text-color-secondary);
    
}
.item-span{
    color:var(--main-color);

}

/********************************************/
/*************Main oldal********************/
/*****************************************



main {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding-left: 50px;
    /*max-width: 1400px;***********
   
    
}

.fooldal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-secondary);
    padding: auto;
}

.myself {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px 30px 0px 30px;
}

.bemutatkozas {
    display:block;
    justify-content: center;
    width: 450px;
    height: 60%;
    text-align: center;
    margin:50px;
    padding:50px;
    
}
.bemutatkozas p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8em;
    text-align: center;
    color: var(--main-color);
}
.bemutatkozas h1 {
    font-size: 2.7em;
}

.bemutatkozas-span {
    font-size: 1.15em;
    color: var(--main-color);
}
.bemutatkozas h2 {
    font-size: 1.1em;
    font-weight: 400;
}
.valaki-img {
    padding: 1px;
    display: flex;
    margin: 50px;
    width: 400px;
    height: 550px;
    border-radius: 50%;
    align-items: center;
}
.valaki-img img {
   border-radius: 50%;
    width: 400px;
    height: 550px;
      
    
}

.text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    margin: 20px;
    padding: 10px; 
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

button {
    margin-left: 20px;
    padding: 0 30px;
    border: 1px solid var(--main-color);
    background-color:var(--main-color); 
    color: var(--text-color-secondary);
    text-transform: uppercase;
    letter-spacing: 1px;

}
/***********************************/
/********Knowledge*****************/
/********************************

.knowledge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color-secondary);
    padding: auto;
}
.knowledge-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.knowledge-container h2 {
    font-size: 2rem;
    color: var(--main-color);
    padding: auto;
    margin: 30px;
    
}

.knowledge-container p {
    padding: auto;
    margin: 30px;
    max-width: 1200px;
}

.profesional-container {
    display: flex;
   max-width: 1200px;
}

.piktogramok {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-left: 30px;
}

.piktogramok img {
    width: 130px;
    height: 150px;
    margin: 30px;
    border-radius: 25px;
   
}
.piktogramok p {
    color: var(--main-color);
}
.piktogramok p:hover {
    color: var(--text-color-secondary);
}


.knowledge-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
}
  .knowledge-items {
    display: flex;
    align-items: flex-start;
    box-shadow: 0px 0px 10px var(--main-color);
    /*border: 0.8px solid var(--main-color);********************
    border-radius: 5px;
    margin: 12px 20px;

  }
  
  .knowledge-items .image-container {
    width: 200px;
    margin:20px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .knowledge-items img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 5px;
  }
  
  .knowledge-items .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .knowledge-items h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0;
  }
  
  .knowledge-items p {
    font-size: 1rem;
    margin-top: 0;
  }
.knowledge-items .text-container,
.knowledge-items .image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
**********************************************************/


.header {
    background-color:rgb(7, 40, 48);
    box-shadow: 1px 1px 4px 0 rgba(7,40,48,0.2);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    overflow: hidden;
    background-color:rgb(12, 61, 73);
}

.header ul a {
    display: block;
    padding: 20px;
    border-right: 1px solid  rgb(2, 18, 22);
}

.header ul a:hover {
    background-color: var(--main-color);
}

.header .logo {
    float: left;
    display: block;
    font-size: 1.5em;
    padding: 10px 10px;
    margin-top: 5px;
}

.header .menu {
    clear: both; 
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float:right;
    cursor: pointer;

      
}

.header .menu-icon .nav-icon {
    background: var(--main-color);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
    
}

.header .menu-icon .nav-icon::before{
    background: var(--main-color);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top:6px;
}
.header .menu-icon .nav-icon::after{
    background: var(--main-color);
    content:'';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top:-6px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top:0;
}

@media (min-width:900px) {
    .header li{
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }

}
